@font-face {
    font-family: 'HeadTitle';
    src: url('../font/disolve.ttf') format('truetype');
    
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

#header {
    margin-top: -30px;
    background-color: #252A3A;
    color: #1B98F8;
    margin-bottom: 20px;
    box-shadow: 0px 3px 12px #4B7197;
}

#headTitle {
    font-family: HeadTitle, sans-serif;
    font-size: 30px;
    padding: 25px;
    padding-bottom: 26px;
    text-align: center;
    font-weight: 800;
}

#content {
    font-family: 'Segoe UI';
    width: 80%;
    margin-left: 10%;
}

#content h1 {
    color: #1B98F8;
    font-size: 34px;
}

#footer {
    position: absolute;
    bottom: 0;
    background-color: #252A3A;
    color: #1B98F8;
    margin-top: 20px;
    box-shadow: 0px -3px 12px #4B7197;
    width: 100%;
}

#footerText {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 10px;
    padding-bottom: 17px;
    padding-top: 6px;
}

#footerText a {
    text-decoration: none;
    color: white;   
}